

.container {
    width: 1085px;
    margin: 0 auto;
    height: 2001.3541259765625px;
    background-color: #FAFAFA;


    }

.header {
    width: 1085px;
    height: 83px;
    background: #FFFFFF;
    
    
}

.logo-I {
    display: flex;
    gap: 2px;
    width: 207px;
    height: 35px;
    position:relative;
    top: -6px;
    left: 40px;
}

.logo {
    margin-top: 25px;
    width: 34.24632263183594px;
    height: 34.24632263183594px;
}

.logo-para {
    margin-top: 31px;
    width: 168.18768310546875px;
    height: 22px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #0E0E0E;


}

.home {
    position: relative;
    text-transform: uppercase;
    width: 104px;
    height: 20px;
    top: -22px;
    left: 812px;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
    color: #090909;

}

.me {
    position: relative;
    text-transform: uppercase;
    width: 104px;
    height: 20px;
    top: -58px;
    left: 928px;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
    color: #090909;
        
}

.contain {

    width: 979px;
    height: 1091px;
    border-radius: 3px;

}



.top {
    width: 743px;
    height: 190px;
    margin: 0 auto;
   
}

.test-I {
    width: 743px;
    margin: 0 auto;
}
.avater {
    margin: 0 53px;
    width: 979px;
    height: 488px;
    border-radius: 3px;


}

.first {
    font-family: Source Sans Pro;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #151515;
    

}

.second {
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #151515;

}

.a-1 {
    margin-top: 22px;
}

.para-I {
    width: 614.8438720703125px;
    height: 20px;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #151515;
        
    
}

.para-II {
    width: 808px;
    height: 39px;
    font-family: Source Sans Pro;
    font-size: 36px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #151515;
        
    
        
    
}



.I-para {
    margin: 0 auto 30px auto;
    width: 309px;
    height: 26px;
    font-family: Source Sans Pro;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #141414;


    
}

.part-I {
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: space-between;
    width: 979px;
    height: 447px;
    
}


.first-para {
    width: 309px;
    height: 18px;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;

}

.second-para {
    width: 309px;
    height: 26px;
    font-family: Source Sans Pro;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #141414;
    margin-bottom: -1px;
    
}


.third-para {
    width: 309px;
    height: 80px;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #505050;
    margin-top: 10px;
        
}



.footer {
    width: 1085px;
    height: 105px;
    background: #202020;
    margin-top: 10px;
    
}

.footer {
    width: 1085px;
    height: 105px;
    top: 1816px;
    background-: #202020;
    
}

.footer-I {
    width: 109px;
    height: 31px;
    display: block;
    margin: 100px auto 0 auto;
    padding-top: 24px;

}

.footer-II {
    text-transform: capitalize;
    width: 150px;
    height: 13px;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #ECECEC;
    
        
}


.footer-III {
    margin-top: -8px;
    width: 150px;
    height: 15px;
    font-family: Source Sans Pro;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: #D7D7D7;
    
}

.footer-III::first-letter {
    text-transform: capitalize;
}

